@import "base";
@import "https://unpkg.com/open-props/easings.min.css";

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

[data-theme="light"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme="light"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="light"] .sun-and-moon > .moon > circle {
  transform: translate(-7px);
}

@supports (cx: 1) {
  [data-theme="light"] .sun-and-moon > .moon > circle {
    transform: translate(0);
    cx: 17;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform 0.5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition:
      transform 0.5s var(--ease-elastic-4),
      opacity 0.5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform 0.25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx 0.25s var(--ease-out-5);
    }
  }

  [data-theme="light"] .sun-and-moon > .sun {
    transform: scale(1.75);
    transition-timing-function: var(--ease-3);
    transition-duration: 0.25s;
  }

  [data-theme="light"] .sun-and-moon > .sun-beams {
    transform: rotate(-25deg);
    transition-duration: 0.15s;
  }

  [data-theme="light"] .sun-and-moon > .moon > circle {
    transition-delay: 0.25s;
    transition-duration: 0.5s;
  }
}

.theme-toggle {
  display: inline-flex;
  --icon-fill: hsla(0, 0%, 100%, 1);
  --icon-fill-hover: hsla(222, 44%, 70%, 1);
  background: none;
  border: none;
  padding: 0;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}

.theme-toggle > svg {
  inline-size: 1.25rem;
  block-size: 1.25rem;
  stroke-linecap: round;
}

[data-theme="light"] .theme-toggle {
  --icon-fill: hsla(217, 35%, 45%, 1);
  --icon-fill-hover: hsla(220, 18%, 16%, 1);
}

// Layout colors:

[data-theme="dark"] {
  body {
    background-color: $clr-darkPrimary-900;
    color: $clr-neutral-100;
  }
  .theme-toggle > :hover {
    color: hsla(222, 44%, 70%, 1);
  }
  .theme-name {
    color: $clr-neutral-100;
  }
  .search__input::placeholder {
    color: $clr-neutral-100;
  }
  .search__input {
    color: $clr-neutral-100;
  }
  .search__btn {
    color: $clr-neutral-100;
    background: $clr_primary-600;
  }
  .search {
    background: $clr-darkPrimary-700;
  }
  .github {
    background-color: $clr-darkPrimary-700;
  }
  .github__link {
    color: $clr-primary-600;
  }
  .github__list {
    background-color: $clr-darkPrimary-900;
  }
  .icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(0%)
      hue-rotate(36deg) brightness(108%) contrast(105%);
  }
}

[data-theme="light"] {
  body {
    background-color: $clr-neutral-300;
  }
  .theme-name {
    color: $clr-lightPrimary-500;
  }
  .theme-toggle > :hover {
    color: hsla(220, 18%, 16%, 1);
  }
  .search__input::placeholder {
    color: $clr-lightPrimary-500;
  }
  .search__input {
    color: $clr-lightPrimary-500;
  }
  .search__btn {
    color: $clr-neutral-100;
    background: $clr_primary-600;
  }
  .search {
    background: $clr-neutral-200;
  }
  .github {
    background-color: $clr-neutral-200;
  }
  .github__title {
    color: $clr-lightPrimary-700;
  }
  .github__link {
    color: $clr-primary-600;
  }
  .github__date {
    color: $clr-lightPrimary-500;
  }
  .github__bio {
    color: $clr-lightPrimary-500;
  }
  .github__list {
    background-color: $clr-neutral-300;
  }
  .github__list > li {
    color: $clr-lightPrimary-500;
  }
  .num{
    color: $clr-lightPrimary-700;
  }
  .info{
    color: $clr-lightPrimary-500;
  }
}
